@model VetModel.Web.Models.HistoryViewModel

<div class="form-group">
    <label asp-for="Date" class="control-label"></label>
    <input asp-for="Date" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Time" class="control-label"></label>
    <input asp-for="Time" class="form-control" />
    <span asp-validation-for="Time" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ServiceTypeId" class="control-label"></label>
    <select asp-for="ServiceTypeId" asp-items="Model.ServiceTypes" class="form-control"></select>
    <span asp-validation-for="ServiceTypeId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Description" class="control-label">Descripcion para el Cliente</label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Remarks" class="control-label">Notas para mi</label>
    <textarea asp-for="Remarks" class="form-control"></textarea>
    <span asp-validation-for="Remarks" class="text-danger"></span>
</div>

<div class="form-group py-3" >
    <label asp-for="Monto" class="control-label"></label>
    <input asp-for="Monto" class="form-control"/>
    <span asp-validation-for="Monto" class="text-danger"></span>
</div>

<div class="form-group py-3">
    <label asp-for="Pago" class="form-check-label"></label>
    <input asp-for="Pago" class="form-check-input" type="checkbox"/>
    <span asp-validation-for="Pago" class="text-danger"></span>
</div>
