@{
    ViewData["Title"] = "Home Page";
}



<div class="row py-1">
    <div class="col-xl-2">
        <a asp-action="MyPets" class="btn btn-primary btn-sm">Mis Caballos</a>
    </div>
</div>
<div class="imagenuno">

    <div class="spb-row-container spb-row-full-width spb_parallax_asset sf-parallax parallax-window-height parallax-fixed spb_content_element bg-type-cover col-sm-12 no-shadow  col-natural" data-v-center="true" data-top-style="none" data-bottom-style="none" style="padding-left: 0%; padding-right: 0%; margin-top: 0px; margin-bottom: 0px;  height: 393px; opacity: 1;">
        <div class="spb_content_element" style="padding-top: 0px; padding-bottom: 0px; margin-top: -60px;">
            <section class="container">
                <div class="row multi-column-row" style="min-height: 332px;">
                    <div class="spb_content_element col-sm-6 spb_text_column" style="min-height: 332px;">
                        <div class="spb-asset-content" style="padding: 0% 20%; margin-top: 156px; margin-bottom: 156px;">

                            <h1 style="text-align: left;"></h1>

                        </div>
                    </div>
                    <div class="spb_content_element col-sm-6 spb_text_column" style="min-height: 332px;">
                        <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:20%;padding-right:20%;">

                            <h1 style="text-align: left;">
                                <strong>
                                    <span style="color: #ffffff;">
                                        <span style="color: #998676;">En las mejores manos</span><br>
                                    </span>
                                </strong>
                            </h1>
                            <h4 style="text-align: left;"><span style="color: #ffffff;">Atención clínica especializada, profesional y completa. Nuestras unidades móviles nos permiten ofrecer un servicio rápido y de gran alcance.</span></h4>
                            <p>&nbsp;</p>
                            <p style="text-align: left;">
                                <a class="sf-button standard white rounded bordered " href="https://veterinariaandy.azurewebsites.net/" target="_self"><span class="text">CONTACTO</span></a>

                            </p>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

</div>



<div class="imagendos">

    <div class="row">
        <div class="spb_content_element col-sm-6 spb_text_column">
            <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:20%;padding-right:20%;">

                <h1 style="text-align: left;"><span style="color: #998676;"><b>Cada caso clínico es único</b></span></h1>
                <h4 style="text-align: left;">
                    <span style="color: #ffffff;">
                        Nuestro objetivo es el bienestar de tu cuadra. Nos implicamos en cada caso y ponemos a tu disposición todos los medios humanos y técnicos necesarios para obtener los mejores resultados.<br>
                    </span>
                </h4>
                <p>&nbsp;</p>
                <a class="sf-button standard white rounded bordered " href="https://veterinariaandy.azurewebsites.net/" target="_self"><span class="text">SERVICIOS</span></a>

            </div>
        </div>
    </div>

</div>

<div class="imagentres">

    <div class="spb-row-container spb-row-full-width spb_parallax_asset sf-parallax parallax-window-height parallax-fixed spb_content_element bg-type-cover col-sm-12 no-shadow  col-natural" data-v-center="true" data-top-style="none" data-bottom-style="none" style="padding-left: 0%; padding-right: 0%; margin-top: 0px; margin-bottom: 0px;  height: 393px; opacity: 1;">
        <div class="spb_content_element" style="padding-top: 0px; padding-bottom: 0px; margin-top: -181px;">
            <section class="container">
                <div class="row multi-column-row" style="min-height: 334px;">
                    <div class="spb_content_element col-sm-6 spb_text_column" style="min-height: 334px;">
                        <div class="spb-asset-content" style="padding: 0% 20%; margin-top: 157px; margin-bottom: 157px;">

                            <h1 style="text-align: left;"></h1>

                        </div>
                    </div>
                    <div class="spb_content_element col-sm-6 spb_text_column" style="min-height: 334px;">
                        <div class="spb-asset-content" style="padding-top:0%;padding-bottom:0%;padding-left:20%;padding-right:20%;">

                            <h1 style="text-align: right;"><span style="color: #998676;"><b>Expertos en ozonoterapia</b></span></h1>
                            <h4 style="text-align: right;"><span style="color: #ffffff;">Pioneros en la aplicación de ozonoterapia dirigida a incrementar el rendimiento deportivo, control del dolor y curación de heridas de gravedad.</span></h4>
                            <p style="text-align: right;">
                                <a class="sf-button standard white rounded bordered " href="https://veterinariaandy.azurewebsites.net/" target="_self"><span class="text">OZONOTERAPIA</span></a>

                            </p>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

</div>



