@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Veterinaria El Maná</h1>
    <p>Solicitar Usuario al numero de Contacto: 72695202 </a>.</p>
</div>
<div class="row">
    <div class="col-md-1">
        <a asp-action="MyPets" class="btn btn-primary">Mis Mascotas</a>
    </div>
    
</div>
